body {
  margin: 0;
  background: #0f0f10;
  font-family: Arial;
  color: white;
  text-align: center;
}
.hero {
  padding: 30px;
}
button {
  background: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
}
.card {
  background: #1a1a1a;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}
.popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
}
.popup-box {
  background: black;
  padding: 20px;
  margin: 100px auto;
  width: 80%;
  border-radius: 10px;
}
input {
  width: 90%;
  padding: 8px;
  margin: 5px;
}
